*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{

    --bg:#080B1A;

    --sur:#181E3A;

    --t0:#EFF0FB;
    --t1:#A8AFD8;

    --gold:#b07706c6;
    --gold2:#f0a400;

    --radius:14px;

    --font:"Inter",sans-serif;

}

body{

    font-family:var(--font);

    background:var(--bg);

}

.home-content{

    min-height:100vh;

    background:linear-gradient(
        135deg,
        rgb(25,18,5),
        rgb(43,31,7),
        rgb(65,48,9)
    );

}



/* Navbar */

.home-nav{

    height:80px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 80px;

}

.logo{

    display:flex;

    align-items:center;

    gap:15px;

}

.home-brand-icon{

    width:55px;

    height:55px;

    border-radius:15px;

    background:var(--gold);

    border: 1px solid whitesmoke;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:24px;

    color:white;

}

.home-brand{

    color:white;

}

.home-nav-center{

    display:flex;

    gap:40px;

}

.home-nav-center a{

    color:#ddd;

    text-decoration:none;

    transition:.3s;

}

.home-nav-center a:hover{

    color:var(--gold2);

}

.home-nav-links{
    display: flex;
    background: var(--gold);
    border: 1px solid whitesmoke;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.home-nav-links a{
    font-size: 18px;
    font-weight: bold;
    color:whitesmoke;
    text-decoration:none;

}

.home-nav-links:hover{
    background: var(--gold2);
    transition: 0.5s;
}

/* Hero */

.hero{

    text-align:center;

    padding-top:90px;

}

.hero h1{

    font-size:64px;

    color:white;

}

.hero span{

    color:var(--gold2);

}

.hero p{

    color:#d3d3d3;

    margin-top:25px;

    font-size:20px;

}

.search-box{

    margin:auto;

    margin-top:50px;

    width:650px;

    height:60px;

    background:white;

    border-radius:50px;

    display:flex;

    overflow:hidden;

}

.search-box input{

    flex:1;

    border:none;

    outline:none;

    padding-left:25px;

    font-size:17px;

}

.search-box button{

    width:80px;

    border:none;

    background:var(--gold);

    color:white;

    cursor:pointer;

}

.search-box button:hover{

    background:var(--gold2);

    transition:.3s;

}



/* Courses */

.courses{

    margin-top:120px;

    padding:0 80px 80px;

}

.courses h2{

    color:white;

    margin-bottom:35px;

}

.course-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:25px;

}

.card{

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(10px);

    border-radius:15px;

    padding:40px;

    text-align:center;

    transition:.3s;

}

.card:hover{

    transform:translateY(-8px);

    background:var(--gold);

}

.card svg{

    font-size:45px;
    color:var(--gold2);

}

.card h3{

    margin-top:20px;

    color:white;

}